/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ----------------------- VARIABLES ----------------------- */
:root {
    /* Primary Colors */
    --primary-color: #00ff00;
    --secondary-color: #007900;
    --complementary-color: #ed4dff;

    /* Neutral Colors */
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #2c2c2c;
    --light-gray-color: #656565;
    --lighter-gray-color: #afafaf;
}


/* ----------------------- RESETS ----------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----------------------- GLOBAL STYLES ----------------------- */
body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    margin: 0;
    background-color: var(--white-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23FFFFFF' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F3F3F3'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F3F3F3'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F3F3F3'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E"););
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-color);
}

/* ----------------------- GAME LAYOUT ----------------------- */
#game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

#game-controls, #game-difficulty-controls, #sound-controls, #export-import-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--gray-color);
    margin: 10px auto;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--primary-color);
}

#game-controls {
    width: 50%;
}

#game-difficulty-controls {
    width: 90%;
}

#export-import-controls {
    width: 45%;
}

#sound-controls {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
}

/* ----------------------- COMPONENTS ----------------------- */
#game-controls span, #game-difficulty-controls span, #music-toggle, #export-import-controls button {
    background-color: var(--gray-color);
    color: var(--white-color);
    font-size: 2vw;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--primary-color);
    padding: 6px 12px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

#game-controls span, #game-difficulty-controls span {
    width: 22.5%;
}

#game-controls .interactive:hover,
#game-difficulty-controls span:hover,
#sound-controls span:hover,
#export-import-controls button:hover{
    background-color: var(--light-gray-color);
    cursor: pointer;
}

/* ----------------------- GAME BOARD ----------------------- */
#game-board {
    position: relative;
    display: -ms-grid;
    display: grid;
    gap: 1px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 10px auto;
    overflow: visible;
    width: fit-content;
    height: fit-content;
}

/* ----------------------- CELL ----------------------- */
.cell {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--gray-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 150%;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* Define colors for each number of adjacent mines */
.cell[data-revealed="true"][data-adjacent-mines="1"] {
    color: var(--white-color);
}

.cell[data-revealed="true"][data-adjacent-mines="2"] {
    color: #f5e0ff;
}

.cell[data-revealed="true"][data-adjacent-mines="3"] {
    color: #e6ccff;
}

.cell[data-revealed="true"][data-adjacent-mines="4"] {
    color: #d9b3ff;
}

.cell[data-revealed="true"][data-adjacent-mines="5"] {
    color: #cc99ff;
}

.cell[data-revealed="true"][data-adjacent-mines="6"] {
    color: #bf80ff;
}

.cell[data-revealed="true"][data-adjacent-mines="7"] {
    color: #b366ff;
}

.cell[data-revealed="true"][data-adjacent-mines="8"] {
    color: var(--complementary-color);
}

/* Define SVGs as background images */
/* Mine SVG */
.cell[data-revealed="true"][data-mine="true"]::before {
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    background: url('svgs/mine-24.svg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Flag SVG */
.cell[data-flagged="true"]::before {
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    background: url('svgs/flag-24.svg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cell[data-revealed="true"] {
    background-color: var(--light-gray-color);
}

.cell[data-exploded="true"]::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: -o-radial-gradient(circle, transparent, var(--complementary-color), transparent),
    repeating-conic-gradient(from 0deg, var(--complementary-color) 0deg 10deg, transparent 10deg 20deg);
    background: radial-gradient(circle, transparent, var(--complementary-color), transparent),
    repeating-conic-gradient(from 0deg, var(--complementary-color) 0deg 10deg, transparent 10deg 20deg);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: explode 1.5s ease-out forwards;
    animation: explode 1.5s ease-out forwards;
    z-index: 1;
    border-radius: 50%;
}

/* ----------------------- CUSTOM DIFFICULTY MODAL ----------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal-content {
    background-color: var(--gray-color);
    margin: 20% auto;
    padding: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--primary-color);
    width: 50%;
    max-width: 400px;
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal-content label,
.modal-content input,
.modal-content div {
    margin: 5px auto;
}

.modal-content div {
    text-align: center;
}

.modal-content button {
    background-color: var(--gray-color);
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    margin: 5px auto;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: var(--light-gray-color);
}

.modal-content button:disabled {
    background-color: var(--light-gray-color);
    cursor: not-allowed;
}

/* ----------------------- FIREWORKS ----------------------- */
#fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    overflow: visible;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
@media (max-width: 768px) {
    #game-controls, #game-difficulty-controls, #sound-controls, #export-import-controls {
        padding: 5px;
        margin: 3px auto;
    }
    #game-controls span, #game-difficulty-controls span, #export-import-controls button {
        padding: 3px 6px;
    }
    .cell {
        font-size: 130%;
    }
}

@media (max-width: 600px) {
    .cell {
        width: 20px;
        height: 20px;
    }
}

/* ----------------------- ANIMATION ----------------------- */
@-webkit-keyframes explode {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(5);
        transform: translate(-50%, -50%) scale(5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(10);
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
        display: none;
    }
}

@keyframes explode {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(5);
        transform: translate(-50%, -50%) scale(5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(10);
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
        display: none;
    }
}